//rem to pixels
@function rem($pixels, $context: 16) {
  @return calc($pixels / $context) * 1rem;
}

html {
  font-size: 18px;

  @screen d-sm {
    font-size: 16px;
  }
}

h1 {
  font-size: rem(48);
}

h2 {
  font-size: rem(40);
}

h3 {
  font-size: rem(36);
}

h4 {
  font-size: rem(32);
}